<template>
  <q-page>
    <conversation-list :conversation="conversation" />
    <message-input
      @send="$emit('send', $event)"
      :enabled="!!$store.state.ipfs.selectedRoom"
    />
  </q-page>
</template>

<script>
import ConversationList from "../components/ConversationList.vue";
import MessageInput from "../components/MessageInput.vue";

export default {
  name: "conversation-page",
  components: {
    "message-input": MessageInput,
    "conversation-list": ConversationList
  },
  props: {
    conversation: {
      default: null
    }
  }
};
</script>
