<template>
  <q-scroll-area
    v-if="!!conversation && conversation.length > 0"
    ref="messageArea"
    class="row content-end"
    style="height: calc(100vh + -140px);max-height: calc(100vh + -140px)"
  >
    <template v-for="(message, index) in conversation">
      <q-chat-message
        v-if="!!message"
        :key="index"
        class="col-12 q-mx-lg"
        :name="setName(message)"
        :bg-color="setBgColor(message)"
        text-color="white"
        :text="[extractMessageBody(message)]"
        :sent="senderIsMe(message)"
      />
    </template>
  </q-scroll-area>
  <q-card
    v-else-if="!!conversation && conversation.length === 0"
    flat
    style="min-height: calc(100vh + -140px)"
  >
    <q-card-section class="fit row content-center">
      <p class="col-12 text-subtitle1 text-center text-blue-grey-4">
        {{ $t("conversation.writeMessage") }}
      </p>
    </q-card-section>
  </q-card>
  <q-card v-else flat style="min-height: calc(100vh + -140px)">
    <q-card-section class="fit row content-center">
      <p class="col-12 text-subtitle1 text-center text-blue-grey-4">
        {{ $t("conversation.selectRoom") }}
      </p>
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  name: "conversation-list",
  props: {
    conversation: {
      default: null
    }
  },
  watch: {
    conversation: function() {
      if (
        this.conversation &&
        this.conversation.length > 0 &&
        this.$refs.messageArea
      ) {
        this.$refs.messageArea.setScrollPosition(2000000000, 300);
      }
    }
  },
  methods: {
    senderIsMe(message) {
      return message.from === this.$store.state.ipfs.info.id;
    },
    setBgColor(message) {
      return this.senderIsMe(message) ? "primary" : "secondary";
    },
    setName(message) {
      return this.senderIsMe(message)
        ? this.$t("conversation.me")
        : message.from;
    },
    extractMessageBody(message) {
      return Buffer.from(message.data).toString();
    }
  }
};
</script>
