<template>
  <q-btn
    @click="$emit('click')"
    :label="$t('joinRoom')"
    color="positive"
    class="full-width"
    size="lg"
  />
</template>

<script>
export default {
  name: "join-room-button"
};
</script>
