<template>
  <q-input
    v-model="message"
    @keyup.enter.native="send"
    :id="idInput"
    class="full-width q-my-md q-px-md absolute-bottom"
    style="max-height:72px"
    type="text"
    maxlength="4096"
    outlined
    rounded
    clearable
    debounce="100"
    :disable="!enabled"
  >
    <template #after>
      <q-btn
        @click="send"
        :id="idButton"
        :disable="!enabled"
        icon="send"
        color="primary"
        round
      />
    </template>
  </q-input>
</template>

<script>
import uuid from "uuid/v4";

export default {
  name: "message-input",
  props: {
    enabled: {
      type: Boolean,
      default: true
    },
    inputId: {
      type: String,
      default: ""
    },
    buttonId: {
      type: String,
      default: ""
    }
  },
  data: () => ({
    message: ""
  }),
  computed: {
    idInput: function() {
      return !this.inputId || this.inputId === "" ? uuid() : this.inputId;
    },
    idButton: function() {
      return !this.buttonId || this.buttonId === "" ? uuid() : this.buttonId;
    }
  },
  methods: {
    send() {
      if (this.message === "") {
        return;
      }
      this.$emit("send", this.message);
      this.message = "";
    }
  }
};
</script>
