<template>
  <q-scroll-area v-if="!!peers && peers.length > 0" style="height: 100%">
    <q-list style="max-width:350px" padding>
      <q-item
        v-for="peer in peers"
        @click="$emit('click', peer)"
        :key="peer"
        clickable
        v-ripple
      >
        <q-item-section avatar top>
          <q-avatar icon="person" color="primary" text-color="white" />
        </q-item-section>

        <q-item-section>
          <q-item-label class="ellipsis">{{ peer }}</q-item-label>
        </q-item-section>
      </q-item>
    </q-list>
  </q-scroll-area>
  <q-card v-else class="fit" flat>
    <q-card-section class="fit row content-center">
      <h3 class="col-12 text-h3 text-center text-blue-grey-4">
        {{ $t("null.peers.title") }}
      </h3>
      <p class="col-12 text-subtitle1 text-center text-blue-grey-4">
        {{ $t("null.peers.description") }}
      </p>
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  name: "peers-list",
  props: {
    peers: { default: null }
  }
};
</script>
