<template>
  <q-scroll-area
    v-if="!!rooms && rooms.length > 0"
    style="height: calc(100% - 51.4333px)"
  >
    <q-list style="max-width:350px" padding>
      <q-item
        v-for="room in rooms"
        :key="room"
        @click="$emit('click', room)"
        clickable
        v-ripple
      >
        <q-item-section avatar top>
          <q-avatar color="primary" text-color="white">#</q-avatar>
        </q-item-section>

        <q-item-section>
          <q-item-label class="overflow-hidden">{{ room }}</q-item-label>
        </q-item-section>
      </q-item>
    </q-list>
  </q-scroll-area>
  <q-card v-else flat style="height: calc(100% - 51.4333px)">
    <q-card-section class="fit row content-center">
      <h3 class="col-12 text-h3 text-center text-blue-grey-4">
        {{ $t("null.rooms.title") }}
      </h3>
      <p class="col-12 text-subtitle1 text-center text-blue-grey-4">
        {{ $t("null.rooms.description") }}
      </p>
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  name: "rooms-list",
  props: {
    rooms: {
      default: null
    }
  }
};
</script>
