<template>
  <div id="q-app">
    <router-view />
  </div>
</template>

<script>
export default {
  name: "App",
  async mounted() {
    await this.$store.dispatch("ipfs/initializeIpfs");
    await this.$store.dispatch("ipfs/retrieveId");
  }
};
</script>
