<template>
  <q-layout v-if="$store.state.ipfs.ipfs" view="hHh lpR fFf">
    <q-header elevated class="bg-primary text-white">
      <q-toolbar>
        <q-btn dense flat round icon="menu" @click="leftDrawer = !leftDrawer" />
        <q-space />
        <q-toolbar-title class="text-center">
          {{ title }}
        </q-toolbar-title>
        <q-space />
        <q-btn
          dense
          flat
          round
          icon="menu"
          @click="rightDrawer = !rightDrawer"
        />
      </q-toolbar>
    </q-header>

    <q-drawer show-if-above v-model="leftDrawer" side="left" bordered>
      <rooms-list @click="selectRoom" :rooms="rooms" />
      <join-room-button @click="promptRoomName" />
    </q-drawer>

    <q-drawer show-if-above v-model="rightDrawer" side="right" bordered>
      <peers-list @click="peerClick" :peers="peers" />
    </q-drawer>

    <q-page-container>
      <conversation-page
        @send="sendMessage"
        :conversation="$store.state.ipfs.selectedRoom"
      />
    </q-page-container>
  </q-layout>
  <q-layout v-else view="hHh lpR fFf">
    <q-page-container>
      <q-page>
        <h3 class="text-h3">Error: window.ipfs is undefined</h3>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
import RoomsList from "../components/RoomsList.vue";
import PeersList from "../components/PeersList.vue";
import JoinRoomButton from "../components/JoinRoomButton.vue";
import ConversationPage from "../pages/ConversationPage.vue";
import { mapGetters, mapActions } from "vuex";

export default {
  name: "main-layout",
  components: {
    "rooms-list": RoomsList,
    "peers-list": PeersList,
    "join-room-button": JoinRoomButton,
    "conversation-page": ConversationPage
  },
  data: () => ({
    leftDrawer: false,
    rightDrawer: false
  }),
  computed: {
    title: function() {
      return this.$store.state.ipfs.selectedRoomName || "IPFS Chat";
    },
    rooms: function() {
      return this.$store.getters["ipfs/getRoomNames"];
    },
    peers: function() {
      return this.$store.state.ipfs.peers;
    }
    // ...mapGetters("ipfs", { rooms: "getRoomNames" })
  },
  methods: {
    async promptRoomName() {
      this.$q
        .dialog({
          title: "Join Room",
          message: "Enter the room name or topic",
          prompt: {
            model: "",
            type: "text",
            label: "Room Name",
            outlined: true
          },
          persistent: false,
          ok: {
            color: "primary"
          },
          cancel: true
        })
        .onOk(roomName => {
          this.joinRoom(roomName);
        });
    },
    async joinRoom(roomName) {
      if (!roomName || roomName === "") {
        this.$q.notify({
          position: "top",
          color: "negative",
          message: "Unable to join blank room"
        });
      } else {
        this.addRoom(roomName).then(
          () => {
            this.selectRoom(roomName);
            this.$q.notify({
              position: "top",
              color: "positive",
              message: `Room ${roomName} joined successfully`
            });
          },
          err => {
            this.$q.notify({
              position: "top",
              color: "negative",
              message: `Failed to join room ${roomName}`
            });
          }
        );
      }
    },
    async peerClick(peerId) {
      this.$q.dialog({
        title: "Peer ID",
        message: peerId
      });
    },
    ...mapActions("ipfs", ["addRoom", "selectRoom", "sendMessage"])
  }
};
</script>
